<a href="https://colab.research.google.com/github/OlisettyVivek/Python-new/blob/module4/Module_4_Part_A_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3 #to import the python package sqlite3

In [ ]:
db=sqlite3.connect('test.db')  #to establish a connection to a existing or new databse

In [ ]:
#To create a new table
import sqlite3 #import the python database package
db=sqlite3.connect('test.db') #connect() fucntion returns a connection object refering to the existing or new database
try:
  cur=db.cursor() # Cursor() returns cursor object which uses this connection
  cur.execute("Create table student(StudentID integer   Primary key autoincrement, name text (20) Not null, age Integer, marks Real)")
  #execute() the sql query in a tring parameter
  db.commit()  # commit() function commits any pending transction
  print(" table created success message")
except:
  print("error")
  db.rollback #this function causes a transaction to be rolled back to starting point
db.close() #to close the connection

 table created success message

In [ ]:
#To insert s new record into the table
import sqlite3
db=sqlite3.connect('test.db')
qry="insert into student (StudentID, name, age, marks) values(1024,'Swetha', 35, 95)"
try:
  cur=db.cursor()
  cur.execute(qry)
  db.commit()
  print("onerecord added into table")
except:
  print("error")
  db.rollback()
db.close()

onerecord added into table

In [ ]:
#To insert a new record using ? character
import sqlite3
db=sqlite3.connect('test.db')
qry="insert into student (StudentID, name, age, marks) values(?,?,?,?)"
try:
  cur=db.cursor()
  cur.execute(qry, (1020, 'Nandini', 25, 78))
  db.commit()
  print("onerecord added into table")
except:
  print("error")
  db.rollback()
db.close()

onerecord added into table

In [ ]:
#To insert two or more than two records into the table
import sqlite3
db=sqlite3.connect('test.db')
qry="insert into student (StudentID, name, age, marks) values(?,?,?,?)"
students=[(1001,'Amar',20,56), (1011,'Deepak',25,87)]
try:
  cur=db.cursor()
  cur.executemany(qry,students)
#executemany() executes sql query using aset of parameters in the list of tuples
  db.commit()
  print("records added into table")
except:
  print("error")
  db.rollback()
db.close()

records added into table

In [ ]:
#To retrieve a record or all records from the table
import sqlite3
db=sqlite3.connect('test.db')
sql="Select * from student"
cur=db.cursor()
cur.execute(sql)
'''while True:
  record=cur.fetchone
#fetch() -fetch the next row from the rquery result set
  if record==None:
    break
  print(record)'''
students=cur.fetchall()
for i in students:
  print(i)
  #fetchall()- fetches all the remaining rows from the query result set

(1001, 'Amar', 20, 56.0)
(1011, 'Deepak', 25, 87.0)
(1020, 'Nandini', 25, 78.0)
(1024, 'Swetha', 35, 95.0)

In [ ]:
#To update a record of the table
import sqlite3
db=sqlite3.connect('test.db')
qry="update student set age=?  where name=?"
try:
  cur=db.cursor()
  cur.execute(qry, (21,'Swetha'))
  db.commit()
  print("record updated succesffully")
except:
  print('error')
  db.rollback()
db.close()

record updated succesffully

In [ ]:
#After updating the record , to retrieve the details of the table
import sqlite3
db=sqlite3.connect('test.db')
sql="Select * from student"
cur=db.cursor()
cur.execute(sql)
students=cur.fetchall()
for i in students:
  print(i)

(1001, 'Amar', 20, 56.0)
(1011, 'Deepak', 25, 87.0)
(1020, 'Nandini', 25, 78.0)
(1024, 'Swetha', 21, 95.0)

In [ ]:
#To delete a record from the table
import sqlite3
db=sqlite3.connect('test.db')
qry="Delete from student where name=?"
try:
  cur=db.cursor()
  cur.execute(qry, ('Nandini',))
  db.commit()
  print("record deleted succesffully")
except:
  print('error')
  db.rollback()
db.close()

record deleted succesffully

In [ ]:
#After deleting the record , to retrieve the details of the table
import sqlite3
db=sqlite3.connect('test.db')
sql="Select * from student"
cur=db.cursor()
cur.execute(sql)
students=cur.fetchall()
for i in students:
  print(i)

(1001, 'Amar', 20, 56.0)
(1011, 'Deepak', 25, 87.0)
(1024, 'Swetha', 21, 95.0)